<section class="hero is-small is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Wish Item
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <%= link_to user_path(@wishitem.user) do %>
                            <h2 class="has-text-danger">
                                <%= @wishitem.user.username %>'s Wishlist
                            </h2>
                            <% end %>
                        </div>
                    </div>
                    <div class="card-image">
                        <figure class="image is-square">
                            <%= attachment_image_tag @wishitem, :image, fallback: "gift.png" %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <div class="media-content">
                                <p class="title is-4">
                                    <%= @wishitem.name %>
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p>
                                <%= simple_format @wishitem.description %>
                            </p>
                                <% if @wishitem.link? %>
                            <p>
                                <%= link_to "Link to Product Page", @wishitem.link %>
                            </p>
                            <% end %>
                        </div>
                        <div class="media">
                            <div class="media-content">
                                <% if @wishitem.user.id == current_user.id %>
                                    <%= link_to edit_wishitem_path(@wishitem), class: "panel-block" do %>
                                        <span class="panel-icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                        Edit Item
                                    <% end %>
                                <% end %>
                                <%# <%= button_to "Delete Item", wishitem_path(@wishitem), method: :delete, class: "button is-danger" %> 
                                <%# <%= link_to "Delete", wishitem_path(wishitem), method: :delete, data: {confirm: "Are you sure?"} %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
