<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit User Information
      </h1>
    </div>
  </div>
</section>

<% if @user.errors.any? %>
    <div class="notification is-danger">
        <h2><%= pluralize(@user.errors.count, "error") %> There are some empty fields. </h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @user do |f| %>
        <div class="field">
            <%= f.label :username, "Nickname", class: "label" %>
            <%= f.text_field :username, class: "input" %>
        </div>

        <div class="field">
            <%= f.label :name, "Name", class: "label" %>
            <%= f.text_field :name, class: "input" %>
        </div>

        <div class="field">
            <%= f.label :email, "email", class: "label" %>
            <%= f.text_field :email, class: "input" %>
        </div>

        <%# <div class="field">
          <%= f.label :profile_image, "Profile Image", class: "label" %>
          <%# <%= f.attachment_field :profile_image, class: "input" %>
        <%# </div> %>

          <%= f.submit "Update", class: "button is-success" %>
        <% end %>

      </div>
    </div>
  </div>
</section>
