<section class="hero is-small is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                User Info
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <figure class="image is-128x128" style="margin-left: auto; margin-right: auto;">
                        <%= attachment_image_tag @user, :profile_image, fallback: "user.png" %>
                        </figure>
                    </div>
                    <div class="column is-8">
                        <table class="table is-fullwidth">
                            <tr>
                                <td class="is-size-4">
                                    <strong>
                                        <%= @user.username %>
                                    </strong>
                                </td>
                                <% if @user.id == current_user.id %>
                                <td class="is-size-4">
                                    <%= @user.name %>
                                </td>
                                <td class="is-size-4">
                                    <%= @user.email %>
                                </td>
                                <td>
                                <%= link_to "Edit", edit_user_path(@user), class: "button is-primary" %>
                                </td>
                                <% end %>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <% @user.wishitems.each do |wishitem| %>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-square">
                            <%= link_to wishitem_path(wishitem) do %>
                            <%= attachment_image_tag wishitem, :image, fallback: "gift.png" %>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <div class="subtitle">
                                    <%= link_to wishitem_path(wishitem) do %>
                                    <strong>
                                    <%= wishitem.name %>
                                    </strong>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-right">
                            <% if @user.id == current_user.id %>
                                <%= link_to edit_wishitem_path(wishitem), class: "panel-block" do %>
                                    <span class="panel-icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    Edit Item
                                <% end %>
                            <% end %>
                            <%# <%= button_to "Delete Item", wishitem_path(@wishitem), method: :delete, class: "button is-danger" %> 
                            <%# <%= link_to "Delete", wishitem_path(wishitem), method: :delete, data: {confirm: "Are you sure?"} %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</section>
