<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-dark">
      <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <h1 class="title is-2 has-text-white" style="font-family: serif">wishlist</h1>
      <% end %>
      <div class="navbar-burger burger" data-target"navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <% if user_signed_in? %>
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-item">
        <div class="field is-grouped">
            <div class="control">
              <%= link_to "View All Wishes", wishitems_path, class: "navbar-item button is-primary has-text-grey" %>
            </div>
            <div class="control">
              <%= link_to "Add Your Wishlist", new_wishitem_path, class: "navbar-item button is-primary has-text-grey" %>
            </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="control">
              <%= link_to "View All Users", users_path, class: "button is-warning is-danger" %>
            </div>
            <div class="control">
              <%= link_to "My Page", user_path(current_user), class: "button is-warning is-danger" %>
            </div>
            <div class="control">
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-item button is-warning is-light" %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <div id="navbarExampleTransparentExample">
        <div class="navbar-item">
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <div class="control">
              <%= link_to "Log in", new_user_session_path, class: "button is-warning is-light" %>
            </div>
            <div class="control">
              <%= link_to "Sign up", new_user_registration_path, class: "button is-warning is-light" %>
            </div>
          </div>
        </div>
      </div>

      <% end %>

      </div>
    </nav>

    <%= yield %>
  </body>
</html>
